/* &display=swap" */
@import "null.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900;&display=swap');

.wrapper{
    overflow: hidden;
    min-height: 100%;
}

.general__container {
    background: url('../img/HERO.jpg') 0 0 no-repeat;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.header-services__block{
    max-width: 1040px;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 26px 10px 0 10px;
}
@media (max-width: 991.98px){
    .header-services__block{
        max-width: 750px;
        
    }
}
.header-services__info{
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    justify-content: space-between;
    margin-bottom: 28px;
}
@media (max-width: 479.98px){
    .header-services__info{
        margin-bottom: 20px;
        justify-content: space-between;
    }
}
@media (max-width: 991.98px){
    .header-services__info{
        row-gap: 22px;
    }
}
@media (max-width: 991.98px){
    .header-services__logo{
        transform: translate(-98px, 0px);
        margin: 0 20px 0 0;
    }
}
@media (max-width: 479.98px){
    .header-services__logo{
        transform: translate(-110px, 0px);
        margin: 0 10px 0 0;
    }
}
.header-services__logo-firm{
    display: flex;
    flex: 0 0 42px;
    margin-right: 10.65px;
    animation-name: logo;
    animation-duration: 20s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@media (max-width: 479.98px){
    .header-services__logo-firm{
        position: relative;
        top: 60px;
        left: 10px;
        flex: 0 0 22px;
        opacity: 0.3;
    }
}

@media (max-width: 479.98px){
    .header-services__info:nth-child(1){
        order: 1;
        
    }
    .header-services__time:nth-child(2) {
        order: 3;
    }
    .header-services__call:nth-child(3) {
        order: 4;
    }
    .header-services__button:nth-child(4){
        order: 2;
    }
}
@media (max-width: 991.98px){
.header-services__logo-firm:nth-child(1){
    order: 1;
    transform: translate(-8px, 0px);
}
.header-services__logo:nth-child(2) {
    order: 2;
}
.header-services__time:nth-child(3) {
    order: 4;
}
.header-services__call:nth-child(4) {
    order: 5;
}
.header-services__button:nth-child(5){
    order: 3;
}
}
@keyframes logo{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
} 
.header-services__logotip {
    max-height: 42px;
    
}
/* @keyframes logotext{
    0%{
        transform: scale(0);
    }
    
    100%{
        transform: scale(1);
    }
} */
@media (max-width: 479.98px){
    .header-services__time{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 50%;
        height: 100%;
    }
    .header-services__call{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 50%;
        height: 100%;
    }
}
.header-services__logo {
    display: flex;
    align-items: center;
    margin-right: 236px;
    /* animation-name: logotext;
    animation-duration: 10s;
    animation-timing-function: ease; */
}
@media (max-width: 479.98px){
    .header-services__logo{
        margin: 0 15px 0 0;
        position: relative;
        top: 60px;
        left: -65px;
        flex: 0 0 22px;
        /* opacity: 0; */
        
    }
}
@media (max-width: 991.98px){
    .header-services__logo{
        margin-right: 136px;
        padding: 0 0 0 15px;
    }
}
.header-services__time {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.15px;
    max-width: 206px;
    background: url('../img/time.svg') 0 0 / 24px 24px no-repeat;
    margin-right: 30px;
    padding-left: 34px;
}
.header-services__call {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.15px;
    max-width: 131px;
    margin-right: 32px;
    padding-left: 31px;
    background: url('../img/phone.svg') 0 0 / 18px 18px no-repeat;
}
@media (max-width: 991.98px){
    .header-services__call{
        display: flex;
        flex: 0 0 auto; 
        justify-content: flex-end;
        text-align: right;
        padding: 0 0px 0 15px;
        margin-right: 0px;
        min-width: 200px; 
        background: url('../img/phone.svg') 110px 0 / 18px 18px no-repeat;
    }
}
.header-services__button {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.15px;
    background: #F2726F;
    border-radius: 8px;
    cursor: pointer;
    max-width: 311px;
    padding: 9px 35px 9px 35px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
    top: 0;
}
@media (max-width: 479.98px){
    .header-services__button{
        transform: translate(260px, 0px);
        max-width: 150px;
        font-size: 10px;
        line-height: 1.3;
        border-radius: 5px;
        padding: 7px 25px 7px 25px;
    }
}
@media (max-width: 991.98px){
    .header-services__button{
        max-width: 250px;
        font-size: 11px;
        line-height: 1.5;
        align-items: center;
    }
}
.header-services__button:hover{
    color: rgb(104, 104, 255);
}
.header-services__button:active{
    top: 2px;
}

.menu-header__items {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;
    letter-spacing: 0.15px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    flex: 0 0 auto;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 10px 40px;
    border-radius: 10px;
}
@media (max-width: 479.98px){
    .menu-header__items{
        margin-bottom: 20px;
        padding: 9px 20px;
        border-radius: 5px;
        
    }
}
.items__menu{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
    row-gap: 22px;
}
@media (max-width: 479.98px){
    .items__menu{
        display: none;
    }
}
.items__units{
    margin: 0 37px 0 0;
}
.items__unit{
    color: black;
}
.unit__ukazatel{
    transform: translate(5px, 8px);
}
.items__units:nth-child(1){
    margin: 0 0px 0 0;
}
.items__units:nth-child(6){
    margin: 0 0px 0 0;
} 
.unit__ukazatel{
    width: 8px;
    height: 5px;
}

.items__carte{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    justify-content: flex-end;
}
.menu-header__item {
    margin-right: 37px;
}
.unit__icon{
    max-width: 24px;
    max-height: 24px;
}
.carte__unit{
    position: relative;
}
.unit__carte{
    position: absolute;
    display: inline-block;
    background-color: #F2726F;
    border-radius: 50%;
    width: 16px;
    height: 16px; 
    font-size: 10px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.15px;
    top: -8px;
    left: 15px;
}
a{
    position: relative;
    top: 0;
}
a:hover {
    color: rgb(104, 104, 255);
}
a:active {
    top: 1px;
    color: rgb(104, 104, 255);
}
.services__other{
    display: flex;
    max-width: 583px;
}
.menu-header__item_lupa{
    position: relative;
}
.menu-header__item_lupa::before{
    content: "";
    position: absolute;
    background: url('../img/lupa.svg') 0 0 / 24px 24px no-repeat;
}
.items__unit_ukazatel{
    position: relative;
    top: 0;
}
.items__unit_ukazatel::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: url('../img/ukazatel.svg') 2px 3px no-repeat;
}
@media (max-width: 1040px){
    .header-services__block{
        max-width: 991.98px;
        margin: 0 auto;
        color: #FFFFFF;
        padding: 26px 20px 0 10px;
    }
}
@media (max-width: 991.98px){
    .header-services__block{
        max-width: 750px;
        margin: 0 auto;
        color: #FFFFFF;
        padding: 20px 10px 0 10px;
    }
}
@media (max-width: 767.98px){
    .header-services__block{
        max-width: none;
        margin: 0 auto;
        color: #FFFFFF;
        padding: 26px 20px 0 20px;
    }
}
@media (max-width: 479.98px){
    .header-services__block{
        max-width: none;
        margin: 0 auto;
        color: #FFFFFF;
        padding: 20px 20px 0 20px;
    }
}
@media (max-width: 479.98px){
.carte__menu{
    position: relative;
    flex: 0 0 30px;
    height: 20px;
    width: 30px;
    display: block;
    left: -320px;
}
.carte__menu::before,
.carte__menu::after{
    content: "";
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
}
.carte__menu::before{
    top: 0;
}
.carte__menu::after{
    bottom: 0;
}
.carte__menu span{
    position: absolute;
    background-color: grey;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
}
}


.who-we-are__container {
    margin: 0 auto;
}

.container__module {
    background-color: #5D62B5;
    border-radius: 40px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1020px;
    position: relative;
    z-index: 9;
}

@media (max-width: 991.98px){
    .container__module{
        max-width: 750px;
        
    }
}
@media (max-width: 767.98px){
    .container__module{
        max-width: none;
    }
}
@media (max-width: 479.98px){
    .container__module{
        max-width: none;
    }
}
@media (max-width: 479.98px){
    .container__module::before{
        transform: translate(-40px, 60px);
    }
} 
.container__module::after{
    content: "";
    position: absolute;
    background: url('../img/Circles.svg') 0 0 / 100% no-repeat;
    width: 19.71%;
    height: 317px;
    top: -112px;
    right: -76px;
    z-index: 50;
}
@media (max-width: 479.98px){
    .container__module::after{
        opacity: 0.5;
    }
} 
@media (max-width: 991.98px){
    .container__module::after{
        top: -90px;
        right: -50px;
        
    }
}
.container__module{
    position: relative;
    
}
.container__module::before{
    content: "";
    position: absolute;
    width: 54.24%;
    height: 371.35px;
    top: 350px;
    left: 80px;
    z-index: 0;
    background: url('../img/Blob-2.svg') 0 0 / 100% no-repeat;
}
@media (max-width: 479.98px){
    .container__module::before{
        opacity: 0.3;
        height: 371.35px;
        top: 45.31%;
        left: 15.84%;
    }
} 

.module__place {
    margin: 125px 87px 130px 87px;
    padding: 100px 0 0 0;
    
}
@media (max-width: 991.98px){
    .module__place {
        margin: 125px 70px 130px 70px;
        padding: 60px 0 0 0;
    }
}
@media (max-width: 767.98px){
    .module__place{
        margin: 120px 70px 130px 70px;
        padding: 50px 0 0 0;
    }
}
@media (max-width: 479.98px){
    .module__place{
        margin: 60px 50px 130px 50px;
        padding: 20px 0 0 0;
    }
} 
/* P.S. значение margin: 60px, которое задано выше,
было поставлено, чтобы просто показать так, как в
макете */
.place__banner{
    display: flex;
    flex-direction: column;
    
}
.banner__body{
    margin-bottom: 54px;
    z-index: 6;
}
@media (max-width: 479.98px){
    .banner__body{
        margin-bottom: 34px;
    }
}
.body__header {
    margin-bottom: 36px;
}
@media (max-width: 479.98px){
    .body__header {
        margin-bottom: 26px;
    }
}
.body__subtitle {
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #F5F5F5;
    max-width: 400px;
    margin-bottom: 33px;
    padding-left: 33px;
    background: url('../img/Mark.svg') 0 0 / 17px 16px no-repeat;
}
@media (max-width: 479.98px){
    .body__subtitle {
        margin-bottom: 20px;
        padding-left: 15px;
        background: url('../img/Mark.svg') -2px 3px / 17px 16px no-repeat;
    }
}
.body__title{
    font-weight: 900;
    font-size: 36px;
    line-height: 1.17;
    color: #FFFFFF;
    max-width: 583px;
}
@media (max-width: 479.98px){
    .body__title{
        font-size: 20px;
        line-height: 1.1;
    }
}
@media (max-width: 991.98px){
    .body__title{
        
        font-size: 30px;
    }
}
.body__text {
    font-size: 16px;
    line-height: 1.5;
    color: #F5F5F5;
}
.picture {
    display: flex;
    flex: 0 0 82.94%;
    z-index: 6;
    margin-bottom: -120px;
}
@media (max-width: 479.98px){
    .banner__picture{
        display: none;
    }
} 
.picture__image {
    max-width: 100%;
    
}

.container__chapter {
    background: #29C3BE;
    color: #FFFFFF; 
    font-family: 'Roboto', sans-serif;
    position: relative;
    overflow: hidden;
}
.container__chapter::before {
    content: "";
    position: absolute;
    width: 16.38%;
    height: 317px;
    left: 0;
    bottom: 59px;
    background: url('../img/Circles-small.svg') 0 0 / 100% no-repeat;
}
@media (max-width: 479.98px){
    .container__chapter::before {
        left: 0;
        top: 0px;
        background: url('../img/Circles-small.svg') 0 0 / 100% no-repeat;
    }
}
.container__chapter::after {
    content: "";
    position: absolute;
    width: 32.85%;
    height: 350px;
    left: -20px;
    top: -25px;
    background: url('../img/Blob-small.svg') 0 0 / 100% no-repeat;
}
@media (max-width: 767.98px){
    .container__chapter::after {
        left: -20px;
        top: 0px;
        opacity: 0.6;
    }
}

.place__content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    
}

@media (max-width: 991.98px){
    .place__content {
        flex-wrap: nowrap;
        
    }
}
.content__picture {
    padding: 37px 0px 0px 4px;
    margin: 0 71px 0 0;
    position: relative;
    flex: 0 0 51.66%;
    position: relative;
    z-index: 10;
}
@media (max-width: 991.98px){
    .content__picture {
        padding: 37px 0px 0px 4px;
        margin: 0 25px 0 0;
        flex: 0 0 55.66%;
        left: -70px;
        top: 40px;
    }
}
@media (max-width: 767.98px){
    .content__picture {
        padding: 30px 0px 0px 4px;
    }
}
@media (max-width: 479.98px){
    .content__picture {
        display: none;
    }
} 
.images__puppy {
    max-width: 100%;
}
.content__central {
    flex-wrap: wrap;
    max-width: 411px;
    padding: 114px 0px 169px 0px;
    margin: 0 32px 0 0;
    position: relative;
}
@media (max-width: 991.98px){
    .content__central {
        padding: 90px 0px 110px 0px;
        margin: 0 32px 0 0;
        
    }
}
@media (max-width: 767.98px){
    .content__central {
        padding: 70px 20px 50px 20px;
        
    }
}
@media (max-width: 479.98px){
    .content__central {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
        z-index: 15;
    }
} 
.content__central::before{
    content: "";
    position: absolute;
    top: 150px;
    right: -40px;
    width: 416.26px;
    height: 621.50px;
    z-index: 0;
    background: url('../img/Line.svg') 0 0 / 100% no-repeat;
}
.central__title {
    font-weight: 900;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 40px;
    position: relative;
    z-index: 7;
}
@media (max-width: 767.98px){
    .central__title {
        line-height: 1.15;
        font-size: 30px;
    }
}
.central__button {
    font-weight: 700;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.15px;
    text-transform: uppercase;
    text-align: center;
    max-width: 210px;
    background: #F2726F;
    border-radius: 8px;
    padding: 9px 0;
    position: relative;
    z-index: 6;
    top: 0px;
}
.central__button:hover {
    color: rgb(104, 104, 255);
}
.header-services__button:active{
    top: 2px;
}
.content__ball {
    position: relative;
    top: 80px;
}
.ball {
    flex: 0 0 6.94%;
}
.ball__puppy {
    max-width: 100%;
    top: 30px;
}
@media (max-width: 991.98px){
    .ball {
        display: none;
    }

}
@media (max-width: 479.98px){
    .central__button {
        margin: 0 auto;
    }
}